*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(welcome-banner.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 35px 750px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
h1,h2,h3,h4,h5,h6 { 
	margin-top: 80px;
	color:#ffffff;
    font-size: 70px;
    font-weight: 500;
    text-transform: capitalize;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border:none;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #009688;
    background: #009688;
    transition: 0.5s;
}

/*--------------------section----------------------------*/

.service { 
    padding: 260px 0 87px;
    flex-basis: 33%;
    background: #fdffff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 150px 12px;
    box-sizing: border-box;
}

.single-service-item{
   text-align: center;
    padding:55px 30px 60px;
    border-radius: 3px;
    margin-bottom: 30px;
    border: 1px solid #dadfe9;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
    /*flex-basis: 33%;
    background: #009688;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;*/
}

.single-service-icon {
    display: inline-block;
    color: #50616c;
    /*padding: 20px 12 px;
    border-radius: 10px;
    box-sizing: border-box;*/
}
.single-service-item h2 a {
    font-size:20px;
    margin: 35px 0 20px;
}
.single-service-item h2 a span {
    text-transform:  lowercase;
}
.single-service-item p {
    padding-bottom: 35px;
    text-transform: initial;
    position: relative;
}
.single-service-item p:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: #009688;
    ;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
}

.single-service-icon [class^="flaticon-"]:before,.single-service-icon[class*=" flaticon-"]:before,.single-service-icon [class^="flaticon-"]:after,.single-service-icon [class*=" flaticon-"]:after {font-size:60px;}
.single-service-item:hover .single-service-icon [class^="flaticon-"]:before,.single-service-item:hover .single-service-icon [class*=" flaticon-"]:before,.single-service-item:hover .single-service-icon [class^="flaticon-"]:after,.single-service-item:hover .single-service-icon [class*=" flaticon-"]:after {color:#fff;}


.single-service-item:hover h2 a,.single-service-item:hover p{
    color: #fff;
}
.single-service-item:hover  p:before {
    background: #fff;
}
.single-service-item:hover{
    box-shadow: 0 12px 30px 0px rgba(0,1,193,.2);
    background: #009688;
    border: 1px solid #4e4ffa;
}
.row{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}